.product-status {
    /*white-space: nowrap;*/
    /*vertical-align: middle;*/
    /*padding: 2px 3px 10px 3px;*/
    /*border: 1px solid #80A0E0;*/
    /*border-right: 2px solid #80A0E0;*/
    /*border-bottom: 2px solid #80A0E0;*/
}

.product-title {
    padding-bottom: 5px; padding-top: 5px;
}
.product-title span {
    font-size: 20px;
    color: #FF0099;
}
.tbView {
    margin-left: 10px;
    /*widows: 600px;*/
}

.navbar {
    margin-bottom: 20px;
    overflow: visible;
}
.navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    /*background-color: #fafafa;*/
}
.breadcrumb {
    margin: 0 0 0px;
    padding: 10px 0px;
    background-color: transparent;
}
.link-active {
    color: #828282;
}