/*
Credit: http://www.templatemo.com
*/


.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.margin_r35 { margin-right: 35px; }


.sidebar_section .image_wrapper {
    border: 1px solid #c0afbb;
    padding: 9px;
    margin-bottom: 10px;
}

#templatmeo_content .content_section {
    margin-left: -10px;
    position: absolute;
    clear: both;
    width: 670px;
    border-bottom: 1px dotted #666;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.product_box {
    float: left;
    width: 200px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #666;
    margin-bottom: 20px;
}

#templatemo_content .product_box p {
    padding: 0;
    margin: 0 0 5px 0;
}

#templatemo_content .product_box a {
    color: #000000;
    font-weight: bold;
}

.price1 {
    color: #DA1D69;
    /*font-size: 14px;*/
    font-weight: bold;
}

.price2 {
    color: #39C75E;
    font-size: 14px;
    font-weight: bold;
}

.price3 {
    color: #6A67E0;
    font-size: 14px;
    font-weight: bold;
}

.product_box h3 {
    /*background: #E1D1D6;*/
    background: #E72222;
    padding: 3px 10px;
    margin: 10px 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
}
.product_box h3:hover {
    color: #93FF63;
}

.product_box .image_wrapper {
    padding: 4px;
    border: 1px solid #FFFFFF;
    margin-bottom: 10px;
}

.block-menu-img{
    width: 190px;
    height: 130px;
}

/* end of content */

/* footer */

/*#templatemo_footer_wrapper {*/
    /*clear: both;*/
    /*width: 100%;*/
    /*background: #5e4958 url(images/templatemo_footer.png) top repeat-x;*/
/*}*/

/*#templatemo_footer {*/
    /*width: 970px;*/
    /*padding: 30px 10px;*/
    /*margin: 0 auto;*/
    /*text-align: center;*/
    /*color: #ffffff;*/
/*}*/

/*#templatemo_footer a {*/
    /*color: #ffffff;*/
/*}*/

/*#templatemo_footer .footer_menu {*/
    /*margin: 0 0 10px 0;*/
    /*padding: 0px;*/
    /*list-style: none;*/
/*}*/

/*.footer_menu li {*/
    /*margin: 0px;*/
    /*padding: 0 20px;*/
    /*display: inline;*/
    /*border-right: 1px solid #aea68c;*/
/*}*/

/*.footer_menu li a {*/
    /*color: #ffffff;*/
/*}*/

/*.footer_menu .last_menu {*/
    /*border: none;*/
/*}*/
/* end of footer */